.lora-font{
    font-family: 'Lora', serif;
}

 * {
    font-family: 'Montserrat', sans-serif;
}

label.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* Prevent text wrapping */
    border: 0;
}
body, h1, h2, h3, h4, h5, h6, p, a, span, li, div, select {
    font-family: Poppins, sans-serif !important;
}
section.bg.bg-no-repeat.bg-center.bg-cover {
    /* background: #addaf1;*/
    background-image: url(./../imgs/assignment-bg.jpg);
}
    section.bg.bg-no-repeat.bg-center.bg-cover .form-select {

        border-color: rgb(189 214 227) !important;
    }
.border-4.border-primary-two.mx-auto.sm\:mx-0.rounded-\[1rem\].px-2.md\:px-8.pt-10.space-y-1.md\:space-y-4 {
    border-color: #cbebfa;
    box-shadow: 8px 10px 8px 4px #c2c2c2;
}
section.bg.bg-no-repeat.bg-center.bg-cover select.form-select {
    box-shadow: rgb(92 92 92 / 20%) 5px 5px 7px 0px;
    font-size: 16px !important;
    padding: 3px 12px !important;
    color: #5c5c5c;
}
.paragraph-about {
    padding-right: 70px !important;
    text-align: justify;
}
img.about-image {
    margin-top: 65px;
}
h2.text-3xl.md\:text-5xl.leading-tight.font-extrabold.text-gray-800.mb-4, h2.text-2xl.md\:text-3xl.font-bold.text-center, h3.text-\[1\.55rem\].font-bold.text-center, h4.text-5xl.font-bold.text-center, h3.text-xl.md\:text-\[1\.55rem\].font-bold.text-center {
    background: -webkit-linear-gradient(25deg, #1975fd 26%, #1146a6 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-transform: unset !important;
    font-family: Poppins, sans-serif;
    line-height: 1.3;
    text-shadow: 8px 10px 8px 4px #c7ecfb !important;
    text-shadow: 3px 3px 8px #c7ecfb57 !important;
}
h2.text-3xl.md\:text-5xl.leading-tight.font-extrabold.text-gray-800.mb-4 {
    font-size: 40px;
}
.text-box {
    /*border-color: rgb(214 239 252) !important;
    box-shadow: 8px 10px 8px 4px #c7ecfb;
    padding: 40px 35px !important;*/
    text-align: justify;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px 30px;
    box-shadow: 1px 2px 6px rgba(177, 189, 214, .6);
    border-radius: 8px;
    margin-top: 10px;
}

.space-x-3.font-medium.text-center.text-white {
    margin: auto;
    font-weight: 600;
}
.mx-auto.lg\:mx-0.sm\:max-w-sm.md\:max-w-md.lg\:max-w-lg.relative.text-white.rounded-\[2\.5rem\] {
    width: 75%;
}

.underline12 {
    width: auto;
    max-width: 100%;
    position: absolute;
    left: 8%;
    margin-top: 13%;
    z-index: 0;
    opacity: 0.7;
}
.bg-gradient-light-primary-rgba-20 {
    background-image: linear-gradient(to right, #FFF 0%, rgb(227 246 252) 100%) !important;
    color: #2f7b95 !important;
}
.text-2-3, .text-2-5 {
    font-size: .95em !important;
}
span.d-inline-flex.py-1.px-2 {
    color: #2f7b95;
    font-size: 12px;
    font-weight: 600 !important;
}
section {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
.bg-stylish {
    background-image: url(./../imgs/banner-4-transparent-image.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1;
    transition: background .3s, border-radius .3s, opacity .3s;
}
h2.ekit-heading--title.elementskit-section-title {
    font-size: 70px;
    font-weight: 700;
    padding: 55px;
}
    h2.ekit-heading--title.elementskit-section-title span {
        color: #126efd;
    }
.elementor-widget-container {
    margin-left: 50px;
}
img.inner-image {
    margin: auto;
}

.inner-box {
    text-align: justify;
   
    margin-bottom: 20px;
    padding: 20px 30px;
   
    margin-top: 10px;
}
section.container.mx-auto.py-8.px-10.lg\:px-16.backgrount-color {
    background-image: url(./../imgs/Assignmenthelp.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1;
    transition: background .3s, border-radius .3s, opacity .3s;
}
h3.text-xl.md\:text-\[1\.55rem\].font-bold.text-center.bg-dark {
    background: -webkit-linear-gradient(25deg, #ffffff 26%, #5a5a5a 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-transform: unset !important;
    font-family: Poppins, sans-serif;
    line-height: 1.3;
    text-shadow: 8px 10px 8px 4px #c7ecfb !important;
    text-shadow: 3px 3px 8px #c7ecfb57 !important;
}
.backgrount-color p {
    color: white;
}
.human-writing {
    --item-row-space: 4px;
    --columns-quantity: 2 !important;
}
.human-writing {
    --columns-quantity: 1;
    display: grid;
    grid-template-columns: repeat(var(--columns-quantity), 1fr);
    grid-column-gap: 85px;
    grid-row-gap: var(--item-row-space);
    margin-left: auto;
    margin-right: auto;
    max-width: 675px;
    margin-top: 40px;
}
span.icons-wrap.d-flex.flex-ai-c {
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 4px 6px 10px #505050;
}
p.list-styling {
    margin-top: 12px;
    font-weight: 700;
}
.text-box:hover {
    background: #1975fd;
    color: white;
    transition: all .2sease -in-out;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
li.human-writing__item.fw-medium.d-flex.flex-ai-c {
    margin: 15px 0px;
}
.fixed-btn {
    position: fixed;
    left: 17px;
    bottom: 14px;
    z-index: 10;
    background: #00b482;
    color: #fff;
    border-radius: 23px;
    padding: 10px;
    font-size: 19px;
    width: 240px;
    text-align: center;
}
.discount-offer {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: heartBeat;
    animation-timing-function: ease-in-out;
    display: inline-block;
}
a.fixed-btn.discount-offer:hover {
    color: white;
}
@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.05);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1);
    }
}

footer-container {
    padding-top: 6.6rem;
    padding-bottom: 1rem;
}
@media (min-width: 1160px) {
    .footer-container {
        max-width: 1350px !important
    }
}
.footer-ribbon {
    padding: 9px 20px 5px;
}
.footer-ribbon {
    position: absolute;
    top: 0;
    margin: -16px 0 0;
    padding: 10px 20px 6px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 101;
    background-color: #0088cc;
    font-family: "Shadows Into Light", sans-serif;
    font-weight: 400;
}
    .footer-ribbon:before {
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: 0;
        width: 7px;
        right: 100%;
        border-right: 10px solid #005580;
        border-top: 16px solid transparent;
    }

.mainmenu {
    z-index: 999 !important;
}
.footer .text-grey {
    color: #a8a8a8;
    font-size: 14px;
    text-align: justify;
}
    .footer .text-grey li a {
        color: #a8a8a8;
        font-size: 14px;
    }
.footer h4 {
    font-size: 18px;
}
.footer-container {
    border-bottom: 1px solid #3a3a3a;
}
.container.text-gray.mx-auto.px-10.flex.flex-col.justify-center {
    color: #7a7a7a;
    font-size: 14px;
}

.section-title {
    color: var(--primary-text);
    text-align: center;
    font-size: 40px;
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-style: normal;
    line-height: 48px;
    position: relative;
    margin-bottom: 52px;
}

    .section-title::before,
    .section-title::after {
        content: "";
        position: absolute;
        left: 25%;
        top: 22px;
        width: 45px;
        height: 2px;
        background-color: var(--secondary-text);
    }

    .section-title::after {
        left: unset;
        right: 25%;
    }

.testimonial-section {
    padding-top: 82px;
    padding-bottom: 72px;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    border-radius: 40px;
    padding: 30px 23px;
    background: #192a4e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.swiper-pagination-bullet {
    width: var( --swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px) );
    height: var( --swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px) );
    background: #d9d9d9;
    background: #504b4b;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, -4px);
}

.swiper-pagination-bullet-active {
    background: var(--primary-text);
}

.swiper.testimonial-wrapper {
    padding-top: 59px;
    padding-bottom: 60px;
}

.testimonial-items .testimonial-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: "Outfit";
    font-weight: normal;
    font-style: normal;
    max-width: 330px;
    margin-bottom: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
}

.testimonial-items .testimonial-title {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: "Outfit";
    font-weight: bold;
    font-style: normal;
    margin-bottom: 35px;
    position: relative;
}

    .testimonial-items .testimonial-title::before {
        content: "";
        position: absolute;
        left: -23px;
        top: 9px;
        width: 20px;
        height: 1px;
        background-color: #fff;
    }

.testimonial-img {
    position: relative;
    width: 100px;
    height: 100px;
    height: 70px;
}

    .testimonial-img::before {
        content: "";
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .testimonial-img.tm-img-1::before {
        background-image: url(https://w7.pngwing.com/pngs/646/829/png-transparent-avatar-man-ico-icon-cartoon-little-boy-avatar-cartoon-character-png-material-child-thumbnail.png);
    }

    .testimonial-img.tm-img-2::before {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2IYhSn8Y9S9_HF3tVaYOepJBcrYcd809pBA&s);
    }

    .testimonial-img.tm-img-3::before {
        background-image: url(https://png.pngtree.com/element_our/png/20181206/female-avatar-vector-icon-png_262142.jpg);
    }
.container.testimonials {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.review-stars svg {
    margin: auto;
}
.testimonial-img {
    margin: auto;
}
/* media query  */
@media screen and (min-width: 768px) {
    .swiper-pagination-bullet {
        width: var( --swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 24px) );
        height: var( --swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 24px) );
    }

    .section-title::before,
    .section-title::after {
        width: 141px;
    }
}
.slide-text {
    padding: 0 55px;
}
img.inner-image.short {
    width: 35%;
}
@media screen and (max-width: 768px) {
    .slide-text {
        padding: 0 0 !important;
    }
    p.text-3xl.font-bold.lg\:font-medium.lg\:text-\[41px\].md\:leading-\[3\.5rem\] {
        font-size: 38px !important;
        background: -webkit-linear-gradient(25deg, #1975fd 26%, #1146a6 84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        text-transform: unset !important;
        font-family: Poppins, sans-serif;
        line-height: 1.3;
    }
    img.underline12 {
        display: none !important;
    }
    .mx-auto.lg\:mx-0.sm\:max-w-sm.md\:max-w-md.lg\:max-w-lg.relative.text-white.rounded-\[2\.5rem\] {
        width: 100% !important;
    }
    section.bg.bg-no-repeat.bg-center.bg-cover select.form-select {
        margin-top: 15px;
    }
    .paragraph-about {
        padding-right: 0px !important;
        text-align: justify;
    }
    .inner-box {
        padding: 5px !important;
    }
    h2.ekit-heading--title.elementskit-section-title {
        font-size: 40px !important;
        font-weight: 700;
        padding: 25px !important;
        color: white;
    }
    .elementor-widget-container {
        margin-left: 0 !important;
        text-align: center;
    }
        h2.ekit-heading--title.elementskit-section-title span {
            color: #152132 !important;
        }
    p.text-justify {
        text-align: justify;
    }
    .human-writing {
        --columns-quantity: 1;
        display: block !important;
        grid-template-columns: repeat(var(--columns-quantity), 1fr);
        grid-column-gap: 85px;
        grid-row-gap: var(--item-row-space);
        margin-left: auto;
        margin-right: auto;
        max-width: 675px;
        margin-top: 40px;
    }
    img.inner-image {
        margin: auto;
        width: 50% !important;
    }
    form.signup input.form-input {
        box-shadow: rgb(92 92 92 / 20%) 5px 5px 7px 0px !important;
        font-size: 16px !important;
        padding: 3px 12px !important;
        color: #5c5c5c !important;
        border-color: rgb(189 214 227) !important;
        margin-bottom: 30px;
    }
}
form.signup {
    margin-top: 45px;
}
    form.signup input.form-input {
        box-shadow: rgb(92 92 92 / 20%) 5px 5px 7px 0px !important;
        font-size: 16px !important;
        padding: 3px 12px !important;
        color: #5c5c5c !important;
        border-color: rgb(189 214 227) !important;
       
    }
form.signup button.bg-primary-one.text-white.rounded.py-2.px-6.discount-offer.rounded-pill {
    width: 80%;
}
h3.signup-heding {
    font-size: 1.55rem;
}